.header {
    background: #093479;
    background: linear-gradient(270deg,rgba(9, 52, 121, 1) 0%, rgba(8, 59, 126, 1) 22%, rgba(0, 164, 196, 1) 100%);
    color: white
}
.logo-szkoly {
    width: 65%;
}
.czas-span {
    height: 100%;
}