html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    margin: 0;
}
.kontener-glowny {
    flex-grow: 1;
    overflow-y: auto;
}
.col-12 {
    border: 1px solid black;
}