html, body {
    max-height: 100dvh;
    margin: 0;
}
body {
    background-color: rgb(231, 231, 231);
}
.header-wrapper {
    background: linear-gradient(270deg,rgba(9, 52, 121, 1) 0%, rgba(8, 59, 126, 1) 22%, rgba(0, 164, 196, 1) 100%);
    color: white;
    height: 10dvh;
    align-items: center;
    display: flex;
}
header {
    margin-left: 3%;
    margin-right: 3%;
    width: 94%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.lewo, .prawo{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}
.lewo {
    flex-basis: 33.33%;
}
.prawo {
    flex-basis: 66.66%;
}
.dzienData {
    display: flex;
    flex-direction: column;
}
main {
    display: grid;
    gap: 3px;
    margin-top: 0.75dvh;
    background-color: dodgerblue;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr)), repeat(auto-fit, minmax(min(100%, 200px), 1fr)), repeat(auto-fit, minmax(min(100%, 200px), 1fr)), repeat(auto-fit, minmax(min(100%, 200px), 1fr)), repeat(auto-fit, minmax(min(100%, 200px), 1fr));
    grid-template-rows: repeat(auto-fit, minmax(min(100%, 200px), 1fr)), repeat(auto-fit, minmax(min(100%, 200px), 1fr));
    min-height: 75dvh;
    border: 2px solid black;
    padding: 3px;
}
main > div {
    background-color: #f1f1f1;
    border: 2px solid black;
    padding: 10px;
}
.zdjecie {
    grid-row-start: 1;
    grid-row-end: 3;
}
.informacje-table {
    margin-top: 0.75dvh;
    border: 3px solid lightgray;
}
.komunikaty {
    grid-column-start: 3;
    grid-column-end: 5;
}
.zastepstwa {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 4;
}
.zdjecia {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.slider {
    display: inline-block;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.wydarzenie {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wydarzenie5, .wydarzenie6 {
    display: none;
}
.tekst-pod {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.maly {
    font-size: 11px;
    color: gray;
}
.przyciski-zdjec {
    font-size: 50px;
}
#poprzedni, #nastepny {
    cursor: pointer;
}
.cytat-span{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.autor-span {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bolder;
    float: right;
}
footer {
    background-color: goldenrod;
    height: 6.75dvh;
}
